{{ define "main" }}
		<section class="h-card">
			<p>
				Hi, I'm
				<span class="p-name p-nickname">Jarkad</span>!
				You can reach me at
				<a class="u-url" rel="me" href="https://github.com/jarkad/">GitHub</a>
				and
				<a class="u-url" rel="me" href="https://codeberg.org/martini/">Codeberg</a>.
			</p>
		</section>
		<section>
			<ul class="h-feed">
				{{- range (.Site.GetPage "posts").Pages }}
				<li class="h-entry">
					<a class="u-url p-name" href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .LinkTitle }}</a>
				</li>
				{{- end }}
			</ul>
		</section>
{{ end }}
