<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ hugo.Generator }}

	<title>
		{{- block "title" . -}}
			{{ with .Params.Title }}{{ . }} | {{ end -}}
			{{ .Site.Title }}
		{{- end -}}
	</title>

	<link rel="self" href="{{ .Page.Permalink }}">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	{{ with .OutputFormats.Get "RSS" -}}
	<link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}">
	{{- else -}}
	{{ safeHTML `<!-- NOTE: no RSS for this page -->` }}
	{{- end }}

	{{ safeHTML `<!-- webmentions -->` }}
	<link rel="webmention" href="{{ .Site.Params.webmention.endpoint }}">
	<link rel="pingback" href="{{ .Site.Params.webmention.pingback }}">

	{{ safeHTML `<!-- indieauth -->` }}
	{{ $auth_meta := resources.Get "indieauth-meta.json" | resources.ExecuteAsTemplate ".well-known/oauth-authorization-server" .Site.Params -}}
	<link rel="indieauth-metadata" href="{{ $auth_meta.Permalink }}">
	<link rel="authorization_endpoint" href="{{ .Site.Params.indieauth.auth }}">
	<link rel="token_endpoint" href="{{ .Site.Params.indieauth.token }}">

	{{ safeHTML `<!-- microsub -->` }}
	<link rel="microsub" href="{{ .Site.Params.microsub.endpoint }}">

	{{ safeHTML `<!-- OpenID Connect -->` }}
	<link rel="openid.delegate" href="{{ .Site.Params.oidc.delegate }}">
	<link rel="openid.server" href="{{ .Site.Params.oidc.server }}">

	{{ safeHTML `<!-- WebSub -->` }}
	<link rel="hub" href="{{ .Site.Params.websub.endpoint }}">

	{{ $style := resources.Get "style.css" -}}
	<link rel="stylesheet" href="{{ $style.Permalink }}" media="all">
	{{- block "head-extra" . }}{{ end }}
</head>
<body>
	<header>
		<a href="/">
			{{ $avatar := resources.Get "avatar.webp" -}}
			<img src="{{ $avatar.Permalink }}" width=32 height=32 alt="Logo">
			<span>Jarkad's home page</span>
		</a>
	</header>
	<main>
	{{ block "main" . }}
	{{ end }}
	</main>
	<footer>
		<hr>
		<p>
			<a href="https://xn--sr8hvo.ws/%F0%9F%8E%B8%F0%9F%8F%90%F0%9F%93%A7/previous">←</a>
			An IndieWeb Webring 🕸💍
			<a href="https://xn--sr8hvo.ws/%F0%9F%8E%B8%F0%9F%8F%90%F0%9F%93%A7/next">→</a>
		</p>
		<p>
			This work is licensed under
			<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener noreferrer">CC BY-NC 4.0</a>
		</p>
		<p>
			Source is available
			<a href="https://codeberg.org/martini/blog/">here</a>.
		</p>
	</footer>
</body>
</html>
