{{ define "main" }}
		<article class="h-entry post">
			<header>
				<a class="u-url" href="{{ .Permalink }}">
					<h1 class="p-name">{{ .Title }}</h1>
				</a>
			</header>
			<section class="e-content">

{{ .Content }}
			</section>
		</article>
{{ end }}
