/* reset css */
* {
	box-sizing: border-box;
}

body > main {
	padding: initial .25rem;
}

/* site header */
body > header > a {
	display: flex;
	align-items: center;
	margin-bottom: .25rem;
	background-color: transparent
}

/* site logo */
body > header > a > img {
	margin-right: .5rem;
}

.post {
	max-width: 70rem;
}

/* site title, post title link */
body > header > a,
.post > header > a {
	color: black;
	text-decoration: none;
}
